@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

.font-merriweather {
    font-family: "Merriweather", serif;
}

.transition-300 {
    @apply transition-all duration-300 ease-out;
}

.text-small {
    @apply text-[10px];
}

.main__container {
    @apply px-[1rem] md:px-[2.5rem] lg:px-[3.5rem] xl:px-[4.5rem];
}

.active-dashboard {
    @apply bg-blue_soft text-blue-400 opacity-100 dark:bg-blue_old;
}
